/* GLOBAL */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* ANIMAÇÃO DOS BOTOES */
/* 
@-webkit-keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animacao:hover {
    cursor: pointer;
    animation: fadeinout 1s linear forwards;
    -webkit-animation: fadeinout 1s linear forwards;
    color: #a9927f;
} */


/* ESTILIZAÇÃO IFRAMES */

.atual {
    display: block;
}


.frame {
    overflow: auto;
    border-radius: 0.7%;
    scroll-behavior: smooth;
    width: 98vw;
    margin-top: -8.2px;
    height: 99vh;
}

/* BARRA DE ROLAGEM */
::-webkit-scrollbar-track {
    
    background-color: #000000;
}
::-webkit-scrollbar {
    width: 3px;

    background: #448c648f;
}
::-webkit-scrollbar-thumb {
    background: #448c648f;
    border-radius: 100px;
}
/* FIM BARRA DE ROLAGEM */

body {
    background-color: #212427;
}
a {
    text-decoration: none;
    box-decoration-break: unset;
}
table {
    padding: 29px 0px 0px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* FIM GLOBAL */

/* INICIO DAS BARRA LATERAL */
.sidebar {
    background-color: #282C31;
    position: fixed;
    width: 5%;    
    height: 100%;
    left: 0px;
    top: 0px;
    border-right: 4px solid #09090952;
    display: flex;
    text-align: center;
    flex-flow: wrap;
    align-content: flex-start;
    align-content: space-evenly;
    white-space: break-spaces;
}

/* INICIO ICONES */

/* INICIO LOGO */

.logo_icons img {
    width: 90%;
}

.logo_icons{
    display: flex;
    flex-direction: column;
    font: message-box;
}

.icons{
    margin-top: 12vh;
    margin-bottom: 2vh;
}

.icon_logout{
    margin-top: 12vh;
}

/* FIM LOGO */

.logo_icons .icons img{
    width: 40%;
}

#config{
    float: left;
    cursor: pointer;
}
#graph{
    float: left;
    cursor: pointer;
}
#graph_umid{
    float: left;
    cursor: pointer;
}
#home{
    float: left;
    cursor: pointer;
}
#help{
    float: left;
    cursor: pointer;
}

.icon_logout img{
    width: 50%;
    margin-bottom: 35px;
}

/* FIM ICONES */

/* FIM BARRA LATERAL */

/* INICIO CONTAIERNS */

.containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
    width: 95%;
}

/* CONTAINER SUPERIOR */
.container_chart1{
    min-height: 290px;
    left: 112.02px;
    background-color: #282C31;
    border: 1px solid #448c648f;
    border-radius: 10px;
    padding: 3% 3% 2% 3%;
}

#canvas_grafico_temp{
    display: block;
    width: 1206px;
    border-radius: 2px;
    background-color: #181a1d81;
    height: 603px;
}

#canvas_grafico_umid{
    display: block;
    width: 1206px;
    border-radius: 2px;
    background-color: #181a1d81;
    height: 603px;
}

/* CONTAINER MEIO */
.container_chart2{
    min-height: 290px;
    left: 112.02px;
    background-color: #282C31;
    border: 1px solid #448c648f;
    border-radius: 10px;
    padding: 3% 3% 2% 3%;
}

/* CONTAINER INFERIOR */

.container_table{
    margin-top:30px;
    width: 100%;
    height: 290px;
    left: 112.02px;
    background-color: #282C31;
    border: 1px solid #448c648f;
    border-radius: 10px;
}

/* TABELA */

.header_table{
    height: 250px;
}


#tbStatus{
    width: 95%;
    margin-left: 2.5%;
    height: 250px;
    border-collapse: collapse;
    left: 120px;
    margin-top: 21px;
    color: whitesmoke;
}

#tbStatus th{
    height: 50px;
    border-top: none;
}

#tbStatus td{
    background-color: #181a1d81;
}

#tbStatus tbody {
    background-color: transparent;
    text-align: center;
    align-items: center;
}

.icone_status{
    width: 34px;
}

.icone_status_analytics{
    height: 33px;
}

.grafico_atual{
    background-color: #a7bbf76e;
}

tr {
    cursor: pointer;
}
/* FIM TABELA */

/* FIM CONTAINERS */



/* ----------------PAGINA SETTINGS ----------------*/

/* ----------------PAGINA FAQ------------------- */

.cont_faq {
    margin-top:5px;
    width: 100%;
    background-color: #282C31;
    border: 2px solid #448c648f;
    border-radius: 10px;
}

.inside{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 34px 56px 0px 59px;
}

.title_faq{
    color: #b34933;
}

.itm_faq{
    font-size: 25px;
    color: rgb(196, 196, 196);
    justify-items: center;

}

.num_faq {
    font-size: 30px;
    color: #e22626;
}

.contact {
    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
}

.btn_faq {
    margin-left: 25%;
    margin-bottom: 2rem;
    font-size: 20px;
    height: 60px;
    width: 200px ;
    background-color: #b34933;
    border-radius: 20px;
    border: 2px #e22626 solid;
    transition: 2s;
    text-shadow: 50px;
}

.btn_faq:hover{
    background-color: #e22626;
    cursor: pointer;
    color: aliceblue;
}

#msg_faq{
    color: aliceblue; 
    font-size: 20px;
    margin-left: 5%;
    text-align: center;
}

/* ----------------PAGINA INDEX------------------- */


.dashboard {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
    width: 95%;
    color: white;
    height: 100%;
}

.dashboard h1 {
    margin-bottom: 40px;
}

.dashboard .input-padrao {
    width: 50%;
    display: inline-block;
}


.extra {
    margin: 10px;
}

.extra img {
  height: 50px;
   visibility: hidden;
}

.extra .msg_erro {
    background-color: sandybrown; 
    color: black; 
    visibility: hidden;
}

.home_info {
    margin-top: 3px;
    width: 100%;
    height: 27vh;
    background-color: #282C31;
    border: 1px solid #448c648f;
    border-radius: 10px;
}

.home_info .valores {
    margin:auto;
    overflow: auto;
}

.home_info .valores .valor {
    margin-left: 13%;
    width: 30%;
    float: left;
}

.home_info .alertas {
    width:100%;
    margin:auto;
    margin-top: 5px;
    overflow: auto;
}

.home_info .alertas .alerta {
    margin-left: 13%;
    width: 30%;
    float: left;
}
.home_info .alertas .alerta_umid {
    margin-right: 13%;
    width: 30%;
    float: right;
}